.App {
  text-align: center;
  position: absolute;left: 20%;width: 60%;top: 10%;
  border:  2px solid black;padding-bottom: 50px;
}
.btn {
  background-color: #6a5acd;display: inline;
  width:60px;height: 60px;border-radius: 5px;
}
.Tasks > div {
  background-color: yellowgreen;margin-bottom: 2px;
  padding: 5px;text-align: start;
}
.cross {
  float: right;
}